Zoofruit/Gui/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.basica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoUsuario">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
  <xs:complexType name="ArrayOfTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUsuario" nillable="true" type="tns:ArrayOfTipoUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="Crmv" nillable="true" type="xs:string" />
      <xs:element name="Login" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
      <xs:element name="Tipousuario" nillable="true" type="tns:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Alimento">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Quantidade" type="xs:double" />
      <xs:element name="ValorCalorico" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alimento" nillable="true" type="tns:Alimento" />
  <xs:complexType name="ArrayOfAlimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alimento" nillable="true" type="tns:Alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlimento" nillable="true" type="tns:ArrayOfAlimento" />
  <xs:complexType name="Medicamento">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="DataReposicao" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Quantidade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicamento" nillable="true" type="tns:Medicamento" />
  <xs:complexType name="ArrayOfMedicamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicamento" nillable="true" type="tns:Medicamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicamento" nillable="true" type="tns:ArrayOfMedicamento" />
  <xs:complexType name="TipoAnimal">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoAnimal" nillable="true" type="tns:TipoAnimal" />
  <xs:complexType name="ArrayOfTipoAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoAnimal" nillable="true" type="tns:TipoAnimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoAnimal" nillable="true" type="tns:ArrayOfTipoAnimal" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="Cor" nillable="true" type="xs:string" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Peso" type="xs:double" />
      <xs:element name="Porte" nillable="true" type="xs:string" />
      <xs:element name="TipoAnimal" nillable="true" type="tns:TipoAnimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="ArrayOfAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimal" nillable="true" type="tns:ArrayOfAnimal" />
  <xs:complexType name="FichaAlimento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Ficha">
        <xs:sequence>
          <xs:element name="ListaAlimento" nillable="true" type="tns:ArrayOfAlimento" />
          <xs:element name="Qtd_max_cal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FichaAlimento" nillable="true" type="tns:FichaAlimento" />
  <xs:complexType name="Ficha">
    <xs:sequence>
      <xs:element name="Animal" nillable="true" type="tns:Animal" />
      <xs:element name="Codigo" type="xs:int" />
      <xs:element name="DataCriacao" nillable="true" type="xs:string" />
      <xs:element name="DataValidade" nillable="true" type="xs:string" />
      <xs:element name="Descricao" nillable="true" type="xs:string" />
      <xs:element name="Hora_a_ser_executado" nillable="true" type="xs:string" />
      <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ficha" nillable="true" type="tns:Ficha" />
  <xs:complexType name="ArrayOfFichaAlimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FichaAlimento" nillable="true" type="tns:FichaAlimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFichaAlimento" nillable="true" type="tns:ArrayOfFichaAlimento" />
</xs:schema>