Zoofruit/Gui/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16487/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" />
  <xs:element name="ListarTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="tu" nillable="true" type="q1:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarTipoUsuarioResult" nillable="true" type="q2:ArrayOfTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="u" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarUsuarioResult" nillable="true" type="q4:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="u" nillable="true" type="q5:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="u" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="u" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q8:Alimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarAlimentoResult" nillable="true" type="q9:ArrayOfAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q10:Alimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q11:Alimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q12:Alimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="m" nillable="true" type="q13:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarMedicamentoResult" nillable="true" type="q14:ArrayOfMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="m" nillable="true" type="q15:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMedicamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="m" nillable="true" type="q16:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="m" nillable="true" type="q17:Medicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirMedicamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ta" nillable="true" type="q18:TipoAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarTipoAnimalResult" nillable="true" type="q19:ArrayOfTipoAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q20:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarAnimalResult" nillable="true" type="q21:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q22:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q23:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="a" nillable="true" type="q24:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFichaAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="fa" nillable="true" type="q25:FichaAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFichaAlimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarFichaAlimentoResult" nillable="true" type="q26:ArrayOfFichaAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFichaAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="fa" nillable="true" type="q27:FichaAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFichaAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFichaAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="fa" nillable="true" type="q28:FichaAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFichaAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFichaAlimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="fa" nillable="true" type="q29:FichaAlimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFichaAlimentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>